# Python ignores
*.py[o|c]
*.coverage
.cache

# UNIX ignores
*~

# Project artifacts
dist
*.egg-info
build
_build
.tox
.eggs
.nox

# IDE cruft
.idea
.ropeproject
.vscode
.pytest_cache
.python-version
